<html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<body>

<div id="vue_example"></div>
<div id="vue_example3"></div>

<p>あなたの数値(3桁)を入力してください</p>
<div id="your_val"></div>


<p>３桁の数値を入力してください</p>
<div id="nume_calc"></div>

<script>

var your_val = new Vue({
  el: "#your_val",
  template: `
    <div>
      <input v-model="val" />
      <button v-on:click="fixedVal()">決定</button>
      <p>あなたの数値：{{ fixed_val }}</p>
    </div>
  `,

  data: {
    val: '',
    fixed_val: ''
  },

  methods: {
    fixedVal: function () {
      this.fixed_val = this.val
      this.val = ''
    }
  }
})

var nume_calc = new Vue({
  el: "#nume_calc",

  template: `
    <div>
      <input v-model="numbers" />
      <button v-on:click="numeron()">click</button>
      <ol>
        <li v-for="count in counts">
          <p>{{ count.input }} : {{ count.eat }} eat, {{ count.bite }} bite</p>
        </li>
      </ol>
    </div>`,

  data:{
    numbers: '',
    eatCount: 0,
    biteCount: 0,
    counts:[],
    first_flag: true,
    randomNum: ''
  },

  methods: {
    numeron: function () {
      if (String(this.numbers).length !== 3) {
        alert('３桁の数値を入力して下さい。')
        return
      } else {
        if (this.first_flag){
          this.random()
          this.first_flag = Boolean(false)
        }
        this.inputNumcalc(this.randomNum)
        this.addNum2Array()
        this.checkNum()
      }
    },
    random: function () {
      const bool = []
      for (i=0; i < 10; i++){
        bool.push(Boolean(false))
      }

      const randomNum = []
      for (i=0; i < 3;){
        const num = Math.floor(Math.random() * 10)
        if (!bool[num]){
          randomNum.push(num)
          bool[num] = Boolean(true)
          i++
        }
      }
      this.randomNum = randomNum
    },
    inputNumcalc: function (randomNum) {
      const inputNum = this.numbers.split('')
      inputNum.forEach(num => {
        num = Number(num)
      });
      for (i=0; i < 3; i++){
        for (k=0; k < 3; k++){
          if (i == k){
            if (inputNum[i] == randomNum[k]){
              this.eatCount++
            }
          } else {
            if (inputNum[i] == randomNum[k]){
              this.biteCount++
            }
          }
        }
      }
    },
    addNum2Array: function () {
      var set = {}
      set.eat = this.eatCount
      set.bite = this.biteCount
      set.input = this.numbers
      this.counts.push(set)
    },
    checkNum: function () {
      if (this.eatCount == 3){
        return
      } else {
        this.numbers = ''
        this.eatCount = 0
        this.biteCount = 0
      }
    },
    
  }
})

</script>
</body>
</html>